<div class="container">
    <div class="section-heading">
        <h2>{{user.login}}</h2>
    </div>

    <div class="row mt-5">
        <div class="col-md-4" style="position: relative">
            <form>
                <div class="tg-form">
                    <fieldset>
                        <input matInput placeholder='Login : {{user.login}}' autocomplete=false class="form-control">
                    </fieldset>
                </div>


                <div class="tg-form">
                    <fieldset>
                        <input matInput placeholder='Email : {{user.email}}' autocomplete=false type="password" class="form-control">
                    </fieldset>
                </div>

                <div class="row">
                    <div class="col-md-1"></div>
                    <div class="col-md-10 text-center">
                        <div class="button-row">
                            <button type="submit" class="uni-btn-danger">
                                <mat-icon>cancel</mat-icon>
                            </button>
                            <button class="uni-btn-primary" routerLink="/nouvel-utilisateur">
                                <mat-icon>check</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </form>
            <ngx-ui-loader [loaderId]="'loader-profil'"
                           [fgsType]="'three-bounce'"
                           [hasProgressBar]="false"
                           [fgsColor]="loaderColor"
                           [text]="loaderText"
                           [overlayColor]="'rgba(50,53,57,0.8)'"></ngx-ui-loader>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h2 class="align-center mt-1">Historique de votre jeton</h2>
            <div class="row mt-1">
                <div class="col-md-3">
                    <h3>Jeton actuel : </h3>
                </div>
                <div class="col-md-3">
                    <h3><b>{{actualToken}}</b></h3>
                </div>
                <div class="col-md-6">
                    <button class="uni-btn-primary" (click)="addToken()">
                        Ajouter mes jetons &nbsp;<mat-icon svgIcon="token"></mat-icon>
                    </button>
                </div>
            </div>
            <div class="row" style="position: relative">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                    <!-- Date du pari Column -->
                    <ng-container matColumnDef="dateHisto">
                        <th mat-header-cell *matHeaderCellDef> Date du pari</th>
                        <td mat-cell *matCellDef="let element"> {{element.dateHisto | date : 'dd/MM/YYYY'}} </td>
                    </ng-container>

                    <!--'dateHisto', 'textePari', 'montant', 'nomEquipe1', 'avatarEquipe1', 'nomEquipe1', 'avatarEquipe1', 'cote', 'dateMatch'-->
                    <!-- Texte du pari Column -->
                    <ng-container matColumnDef="textePari">
                        <th mat-header-cell *matHeaderCellDef> Pari</th>
                        <td mat-cell *matCellDef="let element"> {{element.textePari}} </td>
                    </ng-container>

                    <!-- Montant (Mise) Column -->
                    <ng-container matColumnDef="montant">
                        <th mat-header-cell *matHeaderCellDef> Mise</th>
                        <td mat-cell *matCellDef="let element"> {{element.montant}} </td>
                    </ng-container>

                    <!-- Cote Column -->
                    <ng-container matColumnDef="cote">
                        <th mat-header-cell *matHeaderCellDef> Cote</th>
                        <td mat-cell *matCellDef="let element"> {{element.cote}} </td>
                    </ng-container>

                    <!-- Date du match Column -->
                    <ng-container matColumnDef="dateMatch">
                        <th mat-header-cell *matHeaderCellDef> Date du match</th>
                        <td mat-cell *matCellDef="let element"> {{element.dateMatch | date : 'dd/MM/YYYY'}} </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <ngx-ui-loader [loaderId]="'loader-histo-personnel'"
                               [fgsType]="'three-bounce'"
                               [hasProgressBar]="false"
                               [fgsColor]="loaderColor"
                               [text]="loaderText"
                               [overlayColor]="'rgba(50,53,57,0.8)'"></ngx-ui-loader>
            </div>
        </div>

    </div>

</div>

