.header {
    //background: #373542 url('../../assets/img/bg.png');
    background-image: url("../../assets/img/bg-vs.jpg") !important;
    color: whitesmoke;
    padding: 2px;
    .equipe-title {
        margin-top: 20px;
    }
}



.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container-list-pari {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
.item-date-match{
    width: 10%;
    margin: 10px;
}
.item-detail-qr-code {
    width: 10%;
    margin: 10px;
}

.item-detail-equipe-title {
    width: 20%;
}
.item-detail-equipe-avatar {
    width: 10%;
}
.item-detail-vs-title {
    width: 10%;
}


.pari-detail {
    font-family: "asap", serif;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 5px;
}

.pari-detail-title {
    padding: 2px;
    font-size: 14px;
    line-height: 14px;
}

.pari-detail-action {
    a {
        width: initial;
        padding: 0 25px;
    }
    padding-top: 5px;
}
.pari-detail-cote {
    font-size: 25px;
}

.pari-detail-content {
    flex-grow: 1;
    background-color: #2C2C2C;
}


.uni-entry-time li.year {
    color: white !important;
    font-size: 30px !important;
}

.uni-entry-time li.day, .uni-entry-time li.month {
    color: #FFCC33 !important;
    font-size: 30px !important;
}

.match, .finished {
    color: #E85C3C !important;
    font-size: 18px !important;
}

.finishedPari {
    font-family: "asap", serif;
    color: #E85C3C !important;
    font-size: 25px !important;
}

.emptyPari {
    font-family: "asap", serif;
    font-size: 25px !important;
}

.form-content {
    color: white !important;
}

$color-outline: whitesmoke;
mat-form-field {
    // to change border color
    ::ng-deep .mat-form-field-outline {
        color: $color-outline !important;
    }
    // to change label color
    ::ng-deep .mat-form-field-label {
        color: $color-outline !important;
    }
}

.suggests-matchs {
    width: 30%;
    .suggests-matchs-content {
        margin-left: 40px;
    }
    .tg-section-name{
        left:10px;
    }
}

.tg-section-name{
    z-index:1;
    position:absolute;
    border-bottom:2px solid #FFCC33;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 20px 20px;
    -moz-transform-origin: 20px 20px;
    -ms-transform-origin: 20px 20px;
    -o-transform-origin: 20px 20px;
    transform-origin: 20px 20px;
}
.tg-section-name:after{
    bottom:-2px;
    content:'';
    width:100px;
    height:2px;
    z-index:-1;
    background:#373542;
    position:absolute;
}
.tg-section-name h2{
    width:100%;
    float:left;
    margin:0 0 15px;
    font-size:18px;
    line-height:18px;
}


.equipe-avatar-random {
    width: 50px;
    margin: 10px;
}
.vs-title-random {
    .uni-entry-body {
        padding-top: 0!important;
    }
    .uni-entry-time li.year {
        margin-top: 2px !important;
        font-size: 17px !important;
    }

    .uni-entry-time li.day {
        font-size: 16px !important;
    }

    .uni-entry-time li.month {
        font-size: 15px !important;
    }
}

.equipe-title-random {
    font-family: "legacy", serif;
    font-size: 20px;
    font-weight: 100;
    line-height: 20px;
    font-stretch: condensed;
}

.header-card {
    margin-top: 2px;
    &:hover {
        background-color: #FFCC33;
        color: #2C2C2C;

        .uni-entry-time li.day {
            color: #2C2C2C !important;
        }

        .uni-entry-time li.month {
            color: #2C2C2C !important;
        }
    }
}

a {
    text-decoration: none;
}

.map {
    width: 70%;
}

.item {
    padding: 10px;
}

@media screen and (max-width: 1024px) {
    .flex-container {
        display: block;
    }
    .map {
        width: 100%;
    }

    .suggests-matchs {
        width: 100%;
    }
}