.header {
    background: #373542 url('../../assets/img/bg.png');
    color: whitesmoke;
    padding: 2px;
    .equipe-title {
        margin-top: 20px;
    }
}


.pari-detail {
    font-family: "asap", serif;
    cursor: pointer;
    color: white;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.pari-detail-title {
    padding: 2px;
    font-size: 14px;
    line-height: 14px;
}

.pari-detail-action {
    a {
        width: initial;
        padding: 0 25px;
    }
    padding-top: 5px;
}
.pari-detail-cote {
    font-size: 25px;
}

.pari-detail-content {
    flex-grow: 1;
    background-color: #2C2C2C;
}


.uni-entry-time li.year {
    color: white !important;
    font-size: 30px !important;
}

.uni-entry-time li.day, .uni-entry-time li.month {
    color: #FFCC33 !important;
    font-size: 30px !important;
}

.match, .finished {
    color: #E85C3C !important;
    font-size: 18px !important;
}

.finishedPari {
    font-family: "asap", serif;
    color: #E85C3C !important;
    font-size: 20px !important;
}

.form-content {
    color: white !important;
}

$color-outline: whitesmoke;
mat-form-field {
    // to change border color
    ::ng-deep .mat-form-field-outline {
        color: $color-outline !important;
    }
    // to change label color
    ::ng-deep .mat-form-field-label {
        color: $color-outline !important;
    }
}

.suggests-matchs {
    .tg-section-name{
        left:10px;
        z-index:1;
        position:absolute;
        border-bottom:2px solid #FFCC33;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
        -webkit-transform-origin: 20px 20px;
        -moz-transform-origin: 20px 20px;
        -ms-transform-origin: 20px 20px;
        -o-transform-origin: 20px 20px;
        transform-origin: 20px 20px;
    }
    .tg-section-name:after{
        bottom:-2px;
        content:'';
        width:100px;
        height:2px;
        z-index:-1;
        background:#373542;
        position:absolute;
    }
    .tg-section-name h2{
        width:100%;
        float:left;
        margin:0 0 15px;
        font-size:18px;
        line-height:18px;
    }

    .suggests-matchs-content {
        background-color: green;
        margin-left: 30px;
    }

}

