<form [formGroup]="signUpForm" (ngSubmit)="onSignUp()">
    <mat-dialog-content class="mat-typography">
        <h1 class="text-center">S'inscrire</h1>
        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>
                <mat-icon>account_circle</mat-icon>
                Pseudonyme
            </mat-label>
            <input matInput formControlName="login" placeholder="Pseudonyme" autocomplete=false>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>
                <mat-icon>account_circle</mat-icon>
                Nom
            </mat-label>
            <input matInput formControlName="nom" placeholder="Nom" autocomplete=false>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>
                <mat-icon>account_circle</mat-icon>
                Prénom
            </mat-label>
            <input matInput formControlName="prenom" placeholder="Prénom" autocomplete=false>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>
                <mat-icon>account_circle</mat-icon>
                Email
            </mat-label>
            <label>
                <input matInput formControlName="email" placeholder="Email" autocomplete="email" type="email">
            </label>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>
                <mat-icon>lock_open</mat-icon>
                Mot de passe
            </mat-label>
            <label>
                <input matInput formControlName="password" placeholder="Mot de passe" autocomplete=false
                       type="password">
            </label>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button class="uni-btn-danger" [mat-dialog-close]="true">Fermer</button>
        <button type="submit"  class="uni-btn-primary" [mat-dialog-close]="true" cdkFocusInitial> S'inscrire </button>
    </mat-dialog-actions>
</form>
