<form [formGroup]="authForm" (ngSubmit)="onLogin()">
    <mat-dialog-content class="mat-typography">
        <h1 class="text-center">{{'Connect' | translate}}</h1>
        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>
                {{'Pseudonyme' | translate}}
            </mat-label>
            <label>
                <input matInput formControlName="login" placeholder="Pseudonyme" autocomplete=false>
            </label>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>
                <mat-icon>lock_open</mat-icon>²
                {{'Password' | translate}}
            </mat-label>
            <label>
                <input matInput formControlName="password" placeholder="Mot de passe" autocomplete=false
                       type="password">
            </label>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button type="submit" class="uni-btn-danger" [mat-dialog-close]="true">{{'Connect' | translate}}</button>
        <button class="uni-btn-primary" (click)="onSignUp()" [mat-dialog-close]="true" cdkFocusInitial> {{'Register' | translate}} </button>
    </mat-dialog-actions>
</form>
