<form [formGroup]="authForm" (ngSubmit)="onLogin()">
    <mat-dialog-content class="mat-typography">
        <h1 class="text-center">Se connecter</h1>
        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>
                Pseudonyme
            </mat-label>
            <label>
                <input matInput formControlName="login" placeholder="Pseudonyme" autocomplete=false>
            </label>
        </mat-form-field>

        <mat-form-field appearance="outline" class="input-full-width">
            <mat-label>
                <mat-icon>lock_open</mat-icon>
                Mot de passe
            </mat-label>
            <label>
                <input matInput formControlName="password" placeholder="Mot de passe" autocomplete=false
                       type="password">
            </label>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="center">
        <button type="submit" class="uni-btn-danger" [mat-dialog-close]="true">Se connecter</button>
        <button class="uni-btn-primary" (click)="onSignUp()" [mat-dialog-close]="true" cdkFocusInitial> S'inscrire </button>
    </mat-dialog-actions>
</form>
