.tg-statistics{
    width:100%;
    float:left;
    color: white;
    background: #373542 url('../../assets/img/bg.png');
}
.tg-statistic{
    width: 25%;
    float: left;
    padding: 0 15px 15px;
    text-align: center;
    position:relative;

}
.tg-statistic h2{
    margin:0;
    color:#fff;
    z-index:2;
    font-size: 60px;
    line-height: 70px;
    font-weight:bold;
    position:relative;
    text-shadow: -6px -6px 0 #373542,
    -6px -3px 0 #373542,
    -6px 0px 0 #373542,
    -6px 3px 0 #373542,
    -6px 6px 0 #373542,
    -3px -6px 0 #373542,
    -3px -3px 0 #373542,
    -3px 0 0 #373542,
    -3px 3px 0 #373542,
    -3px 6px 0 #373542,
    0 -6px 0 #373542,
    0 -3px 0 #373542,
    0 0 0 #373542,
    0 3px 0 #373542,
    0 6px 0 #373542,
    3px -6px 0 #373542,
    3px -3px 0 #373542,
    3px 0 0 #373542,
    3px 3px 0 #373542,
    3px 6px 0 #373542,
    6px -6px 0 #373542,
    6px -3px 0 #373542,
    6px 0 0 #373542,
    6px 3px 0 #373542,
    6px 6px 0 #373542;
}
.tg-statistic h2 span{ display:block;}
.tg-statistic h3{
    margin: 0;
    font-weight:bold;
    font-size: 20px;
    line-height: 23px;
    text-transform:capitalize;
    font-family: "Oswald", serif;
}
.viewport {
    height: 600px;
    width: 100%;
}
.action-buttons {
    padding-bottom: 20px;
}
.headers-align .mat-expansion-panel-header-title,
.headers-align .mat-expansion-panel-header-description {
    flex-basis: 0;
}
.headers-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}
.headers-align .mat-form-field + .mat-form-field {
    margin-left: 8px;
}
.menu {
    background-image: url("../../assets/gif/circles-menu.gif");
}


.header-card {
    background-image: url("../../assets/img/bg-vs.jpg") !important;
}

.today-match {
    padding: 10px;
    text-align: center;
    //background-image: url("../../assets/img/bg-flag.jpg");
    background-image: url("../../assets/img/bg-vs.jpg") !important;
    color: whitesmoke;

    .vs-title-today-match {
        font-family: "Oswald", serif;
        font-size: 30px;
        color: #FFCC33;
    }

    .no-today-match {
        font-family: "Oswald", serif;
        font-size: 30px;
    }

    .flex-container {
        padding: 0;
        margin: 0;
        list-style: none;
        border: 1px solid #FFCC33;
        -ms-box-orient: horizontal;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -moz-flex;
        display: -webkit-flex;
        display: flex;
    }
    .flex-item {
        background: #272E36;
        padding: 5px;
        height: 100px;
        margin: 5px;

        line-height: 100px;
        color: white;
        font-weight: bold;
        font-size: 2em;
        text-align: center;
        flex-grow: 1;
    }
}

.result-count {
    font-family: "Oswald", serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background-color: #373542;
    color: whitesmoke;
}