<div class="today-match">
    <img src="../../assets/logo/logo_transparent.png" alt="" class="gif" width="150"/>
    <div class="row">
        <ul class="flex-container" *ngIf="listMatchToday.length>0, else noTodayMatch">
            <li class="flex-item" *ngFor="let todayMatch of listMatchToday">
                <a class="flex-item-container" routerLink="/detail-match/{{todayMatch._id}}">
                    <div class="item flex-equipe-title">{{todayMatch.equipe1.nom}} <br>
                        <img src="{{photo_url + todayMatch.equipe1.avatar}}" alt="" class="flex-equipe-avatar">
                    </div>

                    <div class="item vs-title-today-match">{{todayMatch.date_match | date : 'HH:mm'}}</div>

                    <div class="item flex-equipe-title">{{todayMatch.equipe2.nom}} <br>
                        <img src="{{photo_url + todayMatch.equipe2.avatar}}" alt="" class="flex-equipe-avatar">
                    </div>

                </a>
            </li>
        </ul>
        <ng-template #noTodayMatch>
            <div class=" flex-item no-today-match">
                <img src="../../assets/img/colorful1.png" alt="" class="gif" width="130"/> Aucuns matchs
                disponible pour
                aujourd'hui ! <img src="../../assets/img/colorful2.png" alt="" class="gif" width="130"/>
            </div>
        </ng-template>
    </div>
</div>

<div class="row-flex-container">
    <div class="item-row-flex-container card-list">
        <div style="position: relative" bgsColor="#00ACC1">
            <!-- Recherche munticritère -->
            <div class="m-2">
                <mat-accordion class="headers-align" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Recherche
                            </mat-panel-title>
                            <mat-panel-description>
                                Recherche avec des critères
                                <mat-icon svgIcon="search"></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-3 p-2">
                                <div class="tg-form">
                                    <fieldset>
                                        <input matInput placeholder='Equipe : Italy' [(ngModel)]="equipe"
                                               class="form-control">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-3 p-2">
                                <div class="tg-form">
                                    <fieldset>
                                        <input matInput placeholder='Type de pari : null' [(ngModel)]="pari"
                                               class="form-control">
                                    </fieldset>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Entrer la date du match</mat-label>
                                    <mat-date-range-input [formGroup]="matchDate" [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Début">
                                        <input matEndDate formControlName="end" placeholder="Fin">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>

                                    <mat-error *ngIf="matchDate.controls.start.hasError('matStartDateInvalid')">La
                                        date de début est invalide
                                    </mat-error>
                                    <mat-error *ngIf="matchDate.controls.end.hasError('matEndDateInvalid')">Les
                                        dates de début et fin sont invalides
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button class="btn-yellow" (click)="search()">Rechercher</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <!-- Recherche munticritère -->

            <!--<div class="result-count"
                 *ngIf="listMatch.length == 0, else SearchResult">
                Aucuns résultats
            </div>-->
            <!--<ng-template #SearchResult>-->
                <!--<div class="row p-3">
                    <div class="col-md-5 result-count text-end">
                        <p [countUp]="listMatch.length" [options]="countNumbersOptions"></p>
                    </div>
                    <div class="col-md-7 result-count text-start">
                        <p>résultat(s) trouvé(s)</p>
                    </div>
                </div>-->
                <!-- Liste des matchs -->
               <cdk-virtual-scroll-viewport #scroller itemSize="5" class="viewport box">
                   <!--<ngx-spinner [fullScreen]="false" type="ball-clip-rotate-multiple" size="medium">
                       <p class="loading">Loading Awesomeness...</p>
                   </ngx-spinner>-->
                    <div class="box m-1 link-detail-match m-3 p-3" *cdkVirtualFor="let match of listMatch">
                        <a routerLink="/detail-match/{{match._id}}">
                            <div class="list-match-flex-container">
                                <div class="item item-date-match" *ngIf="!match.etat;else finishedMatch">
                                    <div class="uni-entry-body text-left">
                                        <div class="uni-entry-time">
                                            <li class="day"> {{match.date_match | date: 'dd'}} </li>
                                            <li class="month"> {{match.date_match | date : 'MM' | convertmonthDate }} </li>
                                            <li class="year"> {{match.date_match | date: 'yyyy'}} </li>
                                            <li class="hour">
                                                <mat-icon svgIcon="clock" class="svgIcon"></mat-icon>
                                                {{match.date_match | date : 'HH:mm'}} </li>
                                        </div>
                                    </div>
                                </div>
                                <ng-template #finishedMatch>
                                    <div class="item item-date-match">
                                        <div class="finished-match">
                                            <li class="match">Match</li>
                                            <li class="finished">terminé</li>
                                        </div>
                                    </div>
                                </ng-template>

                                <div class="item item-detail-match">
                                    <div class="header-card">
                                        <div class="list-match-flex-container">
                                            <div class="item1-detail-match text-center p-4 equipe-title">{{match.equipe1.nom}}</div>
                                            <div class="item1-detail-match"><img src="{{photo_url + match.equipe1.avatar}}"
                                                                       alt=""
                                                                       class="equipe-avatar">
                                            </div>

                                            <div class="item1-detail-match text-center p-4 vs-logo"><img
                                                    src="../../assets/img/vs.png" alt="" class="gif" width="50"/>
                                            </div>

                                            <div class="item1-detail-match"><img src="{{photo_url + match.equipe2.avatar}}"
                                                                       alt=""
                                                                       class="equipe-avatar">
                                            </div>
                                            <div class="item1-detail-match text-center p-4 equipe-title">{{match.equipe2.nom}}</div>
                                        </div>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <div class="item-detail-match">
                                        <div class="flex-pari-list-container pt-4">
                                            <div *ngFor="let pari of match.pari" class="flex-item-pari-list">
                                                <button class="btn-yellow" matBadge="{{pari.cote}}"
                                                        matBadgePosition="after"
                                                        matBadgeColor="accent">{{pari.description}}</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </a>
                    </div>
                </cdk-virtual-scroll-viewport>


           <!-- </ng-template>-->
            <!-- Liste des matchs -->
            <ngx-ui-loader [loaderId]="'loader-liste-match'"
                           [fgsType]="'three-bounce'"
                           [hasProgressBar]="false"
                           [fgsColor]="loaderColor"
                           [text]="loaderText"
                           [overlayColor]="'rgba(50,53,57,0.8)'"></ngx-ui-loader>
        </div>
    </div>
    <div class="item-row-flex-container list-pari m-2">
        <div class="section-heading">
        </div>

        <div class="tg-widget m-2">
            <h3>Différents types de pari</h3>
            <div class="tg-form pt-2 pb-1">
                <fieldset>
                    <input matInput (keyup)="searchPari($event)" #input placeholder='Recherche pari...'
                           class="form-control">
                </fieldset>
            </div>

            <cdk-virtual-scroll-viewport #scroller itemSize="5" class="viewport">
                <ul *cdkVirtualFor="let pari of listPari">
                    <li class="p-2">
                        <a matTooltip="Lister les matchs avec {{pari.description}}"
                           (click)="listMatchWithPari(pari.description)"><em>{{pari.description}}</em><i>{{pari.cote}}</i></a>
                    </li>
                </ul>
            </cdk-virtual-scroll-viewport>
            <!--<ngx-ui-loader [loaderId]="'loader-liste-pari'"></ngx-ui-loader>-->
        </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-12 col-xs-12">
        <div class="tg-statistics d-flex">
            <div class="tg-statistic">
                <h2><span [countUp]="matchCount" [options]="countNumbersOptions">{{matchCount}}</span></h2>
                <h3>Matchs</h3>
            </div>
            <div class="tg-statistic">
                <h2><span [countUp]="userCount" [options]="countNumbersOptions">{{userCount}}</span></h2>
                <h3>Parieurs actifs</h3>
            </div>
            <div class="tg-statistic">
                <h2><span [countUp]="listPari.length" [options]="countNumbersOptions">{{listPari.length}}</span>
                </h2>
                <h3>Pari</h3>
            </div>
            <div class="tg-statistic">
                <h2><span [countUp]="listEquipe.length" [options]="countNumbersOptions">{{listEquipe.length}}</span>
                </h2>
                <h3>Equipes</h3>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 card-slick">
    <div class="section-heading">
    </div>
    <div style="position: relative" class="row">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of listEquipe" class="slide">
                <div class="card-slick-slider box">
                    <img class="equipe-avatar" src="{{ photo_url + slide.avatar }}" alt="">
                    <div class="card-slick-content">
                        {{slide.nom}}
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
        <div class="section-heading">
        </div>
        <ngx-ui-loader [loaderId]="'loader-liste-equipe'" [fgsType]="'three-bounce'"
                       [hasProgressBar]="false"
                       [fgsColor]="loaderColor"
                       [text]="loaderText"
                       [overlayColor]="'rgba(50,53,57,0.8)'"></ngx-ui-loader>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
