/*=============================================
			Statistics
=============================================*/
.tg-statistics{
    width:100%;
    float:left;
    color: white;
    background: #373542 url('../../assets/img/bg.png');
}

.tg-statistic{
    width: 25%;
    float: left;
    padding: 0 15px 15px;
    text-align: center;
    position:relative;

}
.tg-statistic h2{
    margin:0;
    color:#fff;
    z-index:2;
    font-size: 60px;
    line-height: 70px;
    font-weight:bold;
    position:relative;
    text-shadow: -6px -6px 0 #373542,
    -6px -3px 0 #373542,
    -6px 0px 0 #373542,
    -6px 3px 0 #373542,
    -6px 6px 0 #373542,
    -3px -6px 0 #373542,
    -3px -3px 0 #373542,
    -3px 0 0 #373542,
    -3px 3px 0 #373542,
    -3px 6px 0 #373542,
    0 -6px 0 #373542,
    0 -3px 0 #373542,
    0 0 0 #373542,
    0 3px 0 #373542,
    0 6px 0 #373542,
    3px -6px 0 #373542,
    3px -3px 0 #373542,
    3px 0 0 #373542,
    3px 3px 0 #373542,
    3px 6px 0 #373542,
    6px -6px 0 #373542,
    6px -3px 0 #373542,
    6px 0 0 #373542,
    6px 3px 0 #373542,
    6px 6px 0 #373542;
}


.tg-statistic h2 span{ display:block;}
.tg-statistic h3{
    margin: 0;
    font-weight:bold;
    font-size: 20px;
    line-height: 23px;
    text-transform:capitalize;
    font-family: "Oswald", serif;
}


