<div class="today-match">
    <img src="../../assets/gif/bell-gif.gif" alt="" class="gif" width="100"/>
    <div class="row">
        <ul class="flex-container" *ngIf="listMatchToday.length>0, else noTodayMatch">
            <li class="flex-item" *ngFor="let todayMatch of listMatchToday">
                <div class="row">
                    <div class="col-md-1"></div>

                    <div class="col-md-3 text-center p-4 equipe-title">{{todayMatch.equipe1.nom}}</div>
                    <div class="col-md-1"><img src="{{photo_url + todayMatch.equipe1.avatar}}" alt=""
                                               class="equipe-avatar">
                    </div>

                    <div class="col-md-2 text-center vs-title-today-match">{{todayMatch.date_match | date : 'HH:mm'}}</div>

                    <div class="col-md-1"><img src="{{photo_url + todayMatch.equipe2.avatar}}" alt=""
                                               class="equipe-avatar">
                    </div>
                    <div class="col-md-3 text-center p-4 equipe-title">{{todayMatch.equipe2.nom}}</div>

                    <div class="col-md-1"></div>
                </div>
            </li>
        </ul>
        <ng-template #noTodayMatch>
            <div class="flex-item no-today-match">
                Aucuns matchs disponible pour aujourd'hui !
            </div>
        </ng-template>
    </div>
</div>

<div class="row">
    <div class="col-md-8 card-list">
        <div style="position: relative" bgsColor="#00ACC1" >
            <!-- Recherche munticritère -->
            <div class="m-2">
                <mat-accordion class="headers-align" multi>
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Recherche
                            </mat-panel-title>
                            <mat-panel-description>
                                Recherche avec des critères
                                <mat-icon svgIcon="search"></mat-icon>
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        <div class="row">
                            <div class="col-md-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Equipe</mat-label>
                                    <label>
                                        <input matInput [(ngModel)]="equipe">
                                    </label>
                                </mat-form-field>
                            </div>
                            <div class="col-md-3">
                                <mat-form-field appearance="outline">
                                    <mat-label>Pari</mat-label>
                                    <label>
                                        <input matInput [(ngModel)]="pari">
                                    </label>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field appearance="outline">
                                    <mat-label>Entrer la date du match</mat-label>
                                    <mat-date-range-input [formGroup]="matchDate" [rangePicker]="picker">
                                        <input matStartDate formControlName="start" placeholder="Début">
                                        <input matEndDate formControlName="end" placeholder="Fin">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>

                                    <mat-error *ngIf="matchDate.controls.start.hasError('matStartDateInvalid')">Invalid
                                        start date
                                    </mat-error>
                                    <mat-error *ngIf="matchDate.controls.end.hasError('matEndDateInvalid')">Invalid end
                                        date
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-md-2">
                                <button mat-button class="btn-yellow" (click)="search()">Rechercher</button>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>
            </div>
            <!-- Recherche munticritère -->

            <div class="box m-1 link-detail-match m-3 p-3 text-center" *ngIf="listMatch.length == 0, else noSearchResult">
                Aucuns résultats
            </div>
            <ng-template #noSearchResult>
            <!-- Liste des matchs -->
            <cdk-virtual-scroll-viewport itemSize="200" class="viewport box">
                <div class="box m-1 link-detail-match m-3 p-3" *cdkVirtualFor="let match of listMatch">
                    <a routerLink="/detail-match/{{match._id}}">
                        <div class="row">
                            <div class="col-md-1" *ngIf="!match.etat;else finishedMatch">
                                <div class="uni-entry-body text-left">
                                    <div class="uni-entry-time">
                                        <li class="day"> {{match.date_match | date: 'dd'}} </li>
                                        <li class="month"> {{match.date_match | date : 'MM' | convertmonthDate }} </li>
                                        <li class="year"> {{match.date_match | date: 'yyyy'}} </li>
                                        <li class="hour">
                                            <mat-icon svgIcon="clock" class="svgIcon"></mat-icon>
                                            {{match.date_match | date : 'HH:mm'}} </li>
                                    </div>
                                </div>
                            </div>
                            <ng-template #finishedMatch>
                                <div class="col-md-1">
                                    <div class="finished-match">
                                        <li class="match">Match</li>
                                        <li class="finished">terminé</li>
                                    </div>
                                </div>
                            </ng-template>

                            <div class="col-md-11">
                                <div class="header-card">
                                    <div class="row">
                                        <div class="col-md-1"></div>

                                        <div class="col-md-3 text-center p-4 equipe-title">{{match.equipe1.nom}}</div>
                                        <div class="col-md-1"><img src="{{photo_url + match.equipe1.avatar}}" alt=""
                                                                   class="equipe-avatar">
                                        </div>

                                        <div class="col-md-2 text-center p-4 vs-title">VS</div>

                                        <div class="col-md-1"><img src="{{photo_url + match.equipe2.avatar}}" alt=""
                                                                   class="equipe-avatar">
                                        </div>
                                        <div class="col-md-3 text-center p-4 equipe-title">{{match.equipe2.nom}}</div>

                                        <div class="col-md-1"></div>
                                    </div>
                                </div>
                                <mat-divider></mat-divider>
                                <div class="col-md-10">
                                    <div class="row pt-4">
                                        <div *ngFor="let pari of match.pari" class="col-md-3">
                                            <button class="btn-yellow" matBadge="{{pari.cote}}"
                                                    matBadgePosition="after"
                                                    matBadgeColor="accent">{{pari.description}}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </a>
                </div>
            </cdk-virtual-scroll-viewport>
            </ng-template>
            <!-- Liste des matchs -->
            <ngx-ui-loader [loaderId]="'loader-liste-match'"
                           [fgsType]="'square-jelly-box'"
                           [hasProgressBar]="false"
                           [fgsColor]="loaderColor"
                           [text]="loaderText"
                           [overlayColor]="'rgba(50,53,57,0.8)'"></ngx-ui-loader>
        </div>
    </div>
    <div class="col-md-3 list-pari">
            <div class="section-heading">
            </div>

            <div class="tg-widget tg-catagories-widget">
                <h3>Différents types de pari</h3>
                <ul *ngFor="let pari of listPari">
                    <li>
                        <a><em>{{pari.description}}</em><i>{{pari.cote}}</i></a>
                    </li>
                </ul>
                <!--<ngx-ui-loader [loaderId]="'loader-liste-pari'"></ngx-ui-loader>-->
            </div>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-12 col-xs-12">
        <div class="tg-statistics d-flex">
            <div class="tg-statistic">
                <h2><span class="tg-statistic-count" data-from="0" data-to="2700" data-speed="8000"
                          data-refresh-interval="50">{{listMatch.length}}</span></h2>
                <h3>Matchs</h3>
            </div>
            <div class="tg-statistic">
                <h2><span class="tg-statistic-count" data-from="0" data-to="1673" data-speed="8000"
                          data-refresh-interval="50">{{userCount}}</span></h2>
                <h3>Parieurs actifs</h3>
            </div>
            <div class="tg-statistic">
                <h2><span class="tg-statistic-count" data-from="0" data-to="236" data-speed="8000"
                          data-refresh-interval="50">{{listPari.length}}</span></h2>
                <h3>Pari</h3>
            </div>
            <div class="tg-statistic">
                <h2><span class="tg-statistic-count" data-from="0" data-to="236" data-speed="8000"
                          data-refresh-interval="50">{{listEquipe.length}}</span></h2>
                <h3>Equipes</h3>
            </div>
        </div>
    </div>
</div>
<div class="row mt-5 card-slick">
    <div class="section-heading">
    </div>
    <div style="position: relative" class="row">
        <ngx-slick-carousel class="carousel"
                            #slickModal="slick-carousel"
                            [config]="slideConfig"
                            (init)="slickInit($event)"
                            (breakpoint)="breakpoint($event)"
                            (afterChange)="afterChange($event)"
                            (beforeChange)="beforeChange($event)">
            <div ngxSlickItem *ngFor="let slide of listEquipe" class="slide">
                <div class="card-slick-slider box">
                    <img class="equipe-avatar" src="{{ photo_url + slide.avatar }}" alt="">
                    <div class="card-slick-content">
                        {{slide.nom}}
                    </div>
                </div>
            </div>
        </ngx-slick-carousel>
        <div class="section-heading">
        </div>
        <ngx-ui-loader [loaderId]="'loader-liste-equipe'" [hasProgressBar]="false"></ngx-ui-loader>
    </div>
</div>
<ngx-ui-loader></ngx-ui-loader>
