/* You can add global styles to this file, and also import other style files */
@import "assets/css/bootstrap-utilities.min.css";
@import "assets/css/bootstrap-grid.min.css";

html,
body {
    height: 100%;
}

body {
    margin     : 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.body {
    padding: 10px !important;
    margin : 10px !important;
}

/**----------------------
 *    TEXT ALIGN
 *------------------------**/
.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

/* Fin TEXT ALIGN */


/**----------------------
 *    SNACKBAR STYLE
 *------------------------**/
.success-snackbar {
    background-color: #016936;
}

.warning-snackbar {
    background-color: #E85C3C;
}

.info-snackbar {
    background-color: #203764;
}

.success-snackbar,
.warning-snackbar,
.info-snackbar {
    color: #fff !important;

    .mat-simple-snackbar .mat-simple-snackbar-action .mat-button {
        color: #fff !important;
    }

    &:not(.lower) {
        text-transform: uppercase !important;
    }
}

/* Fin snackbar style */


/**----------------------
 *    Input
 *------------------------**/
.input-full-width {
    width: 100%;
}

/* fin Input */



/**----------------------
 *          Boutton
 *------------------------**/
.button-row {
    display: table-cell;
    width  : 490px;
}

.button-row .mat-button-base {
    margin: 8px 8px 8px 0;
}

.flex-container {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
}

.button-container {
    display        : flex;
    justify-content: center;
    width          : 120px;
}

/* fin Button */


.spacer {
    flex: 1 1 auto;
}

.box {
    border     : .5px solid #E5E5E5;
}

.card-list {
  margin: 5px;
}


/**----------------------
 *    Display date
 *------------------------**/

.uni-entry-body {
  width: 100%;
  height: auto;
  padding-top: 2%;
  padding-left: 0px;
  display: flex;
  justify-content: center;
}



.uni-entry-time {
  float: left;
  width: 80px;
  height: 100px;
  background-color: #ffffff;
  -webkit-box-shadow: inset 0px 24px 0 0 #3f97da;
  box-shadow: inset 0px 24px 0 0 #3f97da;
  border: solid 1px #3f97da;
}
.uni-entry-time li {
  list-style: none;
}
.uni-entry-time li.year {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  color: #ffffff;
  text-align: center;
}
.uni-entry-time li.day {
  font-size: 36px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #3f97da;
  padding-top: 20px;
}
.uni-entry-time li.month {
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #3f97da;
  text-transform: uppercase;
}

/**----------------------
 *    Display COTE PARI
 *------------------------**/
.cote-class {
  font-weight: bold;
  font-size: 30px;
}

.btn-parier {
  width: 400px;
  height: 50px;
}



.uni-btn-primary {
  width: 100%;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 44px;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  padding: 0 15px;
  border: solid 2px #3f97da !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: white;
  &:hover {
    color: #ffffff;
    background-color: #3f97da;
  }
  cursor: pointer;
}

.uni-btn-danger {
  width: 100%;
  display: inline-block;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 44px;
  letter-spacing: normal;
  text-align: center;
  color: #333333;
  padding: 0 15px;
  background-color: white;
  border: solid 2px #FD6524 !important;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  &:hover {
    color: #ffffff;
    background-color: #FD6524;
  }
}
