<app-toolbar></app-toolbar>

<div class="body">
    <div class="row">
        <div class="col-md-8 box p-3">
            <mat-tab-group mat-align-tabs="center" animationDuration="1000ms">
                <mat-tab label="Liste des matches">
                    <div class="p-3">
                        <app-list-match></app-list-match>
                    </div>
                </mat-tab>
                <mat-tab label="Liste des Paris">
                    <div class="p-3">
                        <app-list-pari></app-list-pari>
                    </div>
                </mat-tab>
                <mat-tab label="Historique des paris">
                    <div class="p-3">
                        <app-history></app-history>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3 box p-3">
            <app-rapid-information></app-rapid-information>
        </div>
    </div>
</div>